body {
	padding: 7rem 7.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

a {
	text-decoration: none;
}

.site {
	width: 640px;
}

.logo {
	width: 150px;
}

.title {
	margin-bottom: 0;
}

.twitter {
	margin-top: 0;
}

.content-section {
	margin: 5rem 0;
}

.event__location__link {
	font-weight: bold;
}

.event__location__map {
	display: block;
	margin: 1rem 0;
}