*From {{time}}*. We're a monthly meetup group that helps people new to JavaScript, Node.js, or programming in general get comfortable with self directed lessons. Our meetups are group learning experiences, where people of all skill levels come together to strengthen their understanding of JavaScript.

*If you'd like to be a mentor, please check in here:* {{mentorRegistrationUrl}}
