@media (max-width: 870px) {
	html, body {
		font-size: 14px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 25px;
	}

  .section__content {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }

	.header {
		font-size: 14px;
	}

	.header__identification {
		position: static;
		top: auto;
		left: auto;
		text-align: center;
	}

	.header__logo-text__nodeschool,
	.header__logo-text__oakland {
		display: inline-block;
	}

	.header__introduction {
		padding: 0;
	}
}
