/* Colors */

$color-nodeschool-yellow = rgb(248, 213, 64);
$color-nodeschool-blue = rgb(8, 68, 156);
$color-electric-blue = rgb(58, 244, 253);
$color-off-white = rgb(247, 247, 247);
$color-drop-shadow = rgba(0, 0, 0, 0.25);
