@font-face {
  font-family: 'Gordita';
  src: url('../fonts/hinted-GorditaBold.eot');
  src: url('../fonts/hinted-GorditaBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-GorditaBold.woff2') format('woff2'),
    url('../fonts/hinted-GorditaBold.woff') format('woff'),
    url('../fonts/hinted-GorditaBold.ttf') format('truetype'),
    url('../fonts/hinted-GorditaBold.svg#GorditaBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
